// fonts

$Muli: "Mulish", sans-serif;
$Oswald: "Oswald", sans-serif;

// font size

$base: 16px;

//colors

$dark-blue-grey: #11223f;
$clear-blue: #1968fc;
$clear-blue-5: rgba(25, 104, 252, 0.05);
$clear-blue-20: rgba(25, 104, 252, 0.2);
$light-royal-blue-10: rgba(49, 69, 244, 0.1);
$deep-sky-blue: #1967fa;
$sky-blue: #6a9eff;
$black: #000;
$black-two: #111111;
$white: #fff;
$white-two: #fbfbfb;
$white-0: #d8d8d8;
$ice-blue: #f3f7ff;
$light-periwinkle: #d1e1fe;
$white-40: rgba(255, 255, 255, 0.4);

//font weights

$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
